.icon-play {
	&::before {
		border-left: .65em solid currentColor;
		border-top: .45em solid transparent;
		border-bottom: .45em solid transparent;
		content: "";
		height: 0;
		transform: translate(-50%, -50%);
		width: 0;
	}
}

.icon-pause {
	&::before {
		box-shadow: 0 -.20em, 0 .20em;
		content: "";
		height: $icon-border-width;
		width: 90%;
		transform: translate(-50%, -25%) rotate(90deg);
	}
}

.icon-step-forward {
	border-right: $icon-border-width solid currentColor;
	&::before {
		border: $icon-border-width solid currentColor;
		border-bottom: 0;
		border-right: 0;
		content: "";
		height: .5em;
		width: .5em;
		transform: translate(-50%, -50%) rotate(135deg);
	}
	&::after {
		background: currentColor;
		content: "";
		width: .6em;
		top: 50%;
		height: $icon-border-width;
	}
}
